* {
  box-sizing: border-box;
}

hr {
  @include box-sizing(content-box);
  height: 0;
}

button,input,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

article,aside,footer,header,main,nav,section {
  display: block;
}
svg:not(:root) {
  overflow: hidden;
}
pre {
  overflow: auto;
}
code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button {
  overflow: visible;
}
button,select {
  text-transform: none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
}
